#about-wrapper
  .personal-info
    a#close-slidedown
      i.fa.fa-times
    h4 Isaac Holland is an award winning animation director, and a recent MA graduate from the Royal College of Art. He directs, animates and designs. He currently works as a freelancer in London. Please don't hesitate to get in touch for availability, quotes or just for a good old fashioned chitty chat. 
#animations 
  .animation-holder
    a(href="javascript:void(0)" onclick="toggle_visability('popup-box1');")
      img.animation(height= "250" width= "320" src="./img/crowd.png" )
  .animation-holder
    a(href="javascript:void(0)" onclick="toggle_visability('popup-box2');")
      img.animation(height= "250" width = "320" src="./img/halloween.png")
  .animation-holder
    a(href="javascript:void(0)" onclick="toggle_visability('popup-box3');")
      img.animation(height= "250" width = "320" src="./img/hunter.png")
  .animation-holder
    a(href="javascript:void(0)" onclick="toggle_visability('popup-box4');")
      img.animation(height= "250" width = "320" src="./img/itsNotYou.png")
  .animation-holder
    a(href="javascript:void(0)" onclick="toggle_visability('popup-box5');")
      img.animation(height= "250" width = "320" src="./img/laPutita.png")
  .animation-holder
    a(href="javascript:void(0)" onclick="toggle_visability('popup-box6');")
      img.animation(height= "250" width = "320" src="./img/shot1-office.gif")
  .animation-holder
    a(href="javascript:void(0)" onclick="toggle_visability('popup-box7');")
      img.animation(height= "250" width = "320" src="./img/laPetiteMaison2.png")
  .animation-holder
    a(href="javascript:void(0)" onclick="toggle_visability('popup-box8');")
      img.animation(height= "250" width = "320" src="./img/melon.png")
  .animation-holder
    a(href="javascript:void(0)" onclick="toggle_visability('popup-box9');")
      img.animation(height= "250" width = "320" src="./img/melon2.png")
  .animation-holder
    a(href="javascript:void(0)" onclick="toggle_visability('popup-box10');")
      img.animation(height= "250" width = "320" src="./img/nato.png")
  .animation-holder
    a(href="javascript:void(0)" onclick="toggle_visability('popup-box11');")
      img.animation(height= "250" width = "320" src="./img/razor.png")
  .animation-holder
    a(href="javascript:void(0)" onclick="toggle_visability('popup-box12');")
      img.animation(height= "250" width = "320" src="./img/watermelon.png")
a(href="javascript:void(0)" onclick= "toggle_visability('popup-box1');")
  #popup-box1.popup-position
    .popup-wrapper
      .popup-container
        .close-window
          a(id= "cross" href="javascript:void(0)" onclick= "toggle_visability('popup-box1');")
            i.fa.fa-times
        img(src="./img/crowd-large.png")
        h3 Description
        h6 Magnet error function cam repair Box power identify yourself joint motion boop engine network dexterity. Feelings recall device hose Otis boop aluminum. KARR lithium ion axle mechanical driver autonomous order no disassemble. Destroy optimization nut autonomous simulation programmable logic controller automation pulley oil memory. Motion axis lithium ion energy source memory inverse kinematics optimization destroy injection mold identify yourself Fembots saw singularity Solo. Current bolt chain iteration cam acceleration order charging kinematics trigger point.
a(href="javascript:void(0)" onclick= "toggle_visability('popup-box2');")
  #popup-box2.popup-position
    .popup-wrapper
      .popup-container
        .close-window
          a(id= "cross" href="javascript:void(0)" onclick= "toggle_visability('popup-box2');")
            i.fa.fa-times
        img(src="./img/halloween-large.png")
        h3 Description
        h6 Magnet error function cam repair Box power identify yourself joint motion boop engine network dexterity. Feelings recall device hose Otis boop aluminum. KARR lithium ion axle mechanical driver autonomous order no disassemble. Destroy optimization nut autonomous simulation programmable logic controller automation pulley oil memory. Motion axis lithium ion energy source memory inverse kinematics optimization destroy injection mold identify yourself Fembots saw singularity Solo. Current bolt chain iteration cam acceleration order charging kinematics trigger point.
a(href="javascript:void(0)" onclick= "toggle_visability('popup-box3');")
  #popup-box3.popup-position
    .popup-wrapper
      .popup-container
        .close-window
          a(id= "cross" href="javascript:void(0)" onclick= "toggle_visability('popup-box3');")
            i.fa.fa-times
        img(src="./img/bird.png")
        img(src="./img/hunter-large.png")
        img(src= "./img/birdhunter.png")
        h3 Description
        h6 Magnet error function cam repair Box power identify yourself joint motion boop engine network dexterity. Feelings recall device hose Otis boop aluminum. KARR lithium ion axle mechanical driver autonomous order no disassemble. Destroy optimization nut autonomous simulation programmable logic controller automation pulley oil memory. Motion axis lithium ion energy source memory inverse kinematics optimization destroy injection mold identify yourself Fembots saw singularity Solo. Current bolt chain iteration cam acceleration order charging kinematics trigger point.
a(href="javascript:void(0)" onclick= "toggle_visability('popup-box4');")
  #popup-box4.popup-position
    .popup-wrapper
      .popup-container
        .close-window
          a(id= "cross" href="javascript:void(0)" onclick= "toggle_visability('popup-box4');")
            i.fa.fa-times
        iframe( src="https://player.vimeo.com/video/78651163?byline=0&portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
        p
          a(href="https://vimeo.com/78651163") IT&#039;S NOT YOU (C&#039;EST PAS TOI)
        p from 
        a(href="https://vimeo.com/isaacholland") Isaac Holland 
        p on 
        a(href="https://vimeo.com") Vimeo.
        h3 Description
        h6 Magnet error function cam repair Box power identify yourself joint motion boop engine network dexterity. Feelings recall device hose Otis boop aluminum. KARR lithium ion axle mechanical driver autonomous order no disassemble. Destroy optimization nut autonomous simulation programmable logic controller automation pulley oil memory. Motion axis lithium ion energy source memory inverse kinematics optimization destroy injection mold identify yourself Fembots saw singularity Solo. Current bolt chain iteration cam acceleration order charging kinematics trigger point.
a(href="javascript:void(0)" onclick= "toggle_visability('popup-box5');")
  #popup-box5.popup-position
    .popup-wrapper
      .popup-container
        .close-window
          a(id= "cross" href="javascript:void(0)" onclick= "toggle_visability('popup-box5');")
            i.fa.fa-times
        img(src="./img/laPutita.png")
        h3 Description
        h6 Magnet error function cam repair Box power identify yourself joint motion boop engine network dexterity. Feelings recall device hose Otis boop aluminum. KARR lithium ion axle mechanical driver autonomous order no disassemble. Destroy optimization nut autonomous simulation programmable logic controller automation pulley oil memory. Motion axis lithium ion energy source memory inverse kinematics optimization destroy injection mold identify yourself Fembots saw singularity Solo. Current bolt chain iteration cam acceleration order charging kinematics trigger point.
a(href="javascript:void(0)" onclick= "toggle_visability('popup-box6');")
  #popup-box6.popup-position
    .popup-wrapper
      .popup-container
        .close-window
          a(id= "cross" href="javascript:void(0)" onclick= "toggle_visability('popup-box6');")
            i.fa.fa-times
        img(src="./img/shot1-office.gif")
        h3 Description
        h6 Magnet error function cam repair Box power identify yourself joint motion boop engine network dexterity. Feelings recall device hose Otis boop aluminum. KARR lithium ion axle mechanical driver autonomous order no disassemble. Destroy optimization nut autonomous simulation programmable logic controller automation pulley oil memory. Motion axis lithium ion energy source memory inverse kinematics optimization destroy injection mold identify yourself Fembots saw singularity Solo. Current bolt chain iteration cam acceleration order charging kinematics trigger point.
a(href="javascript:void(0)" onclick= "toggle_visability('popup-box7');")
  #popup-box7.popup-position
    .popup-wrapper
      .popup-container
        .close-window
          a(id= "cross" href="javascript:void(0)" onclick= "toggle_visability('popup-box7');")
            i.fa.fa-times
        img(src="./img/laPetiteMaisonLarge.gif")
        iframe(src="https://player.vimeo.com/video/98060951?byline=0&portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>) 
        p
          a(href="https://vimeo.com/98060951") La Petite Maison - Teaser (2014) 
          p from
          a(href="https://vimeo.com/isaacholland") Isaac Holland 
          p on 
          a(href="https://vimeo.com") Vimeo.
        h3 Description
        h6 Magnet error function cam repair Box power identify yourself joint motion boop engine network dexterity. Feelings recall device hose Otis boop aluminum. KARR lithium ion axle mechanical driver autonomous order no disassemble. Destroy optimization nut autonomous simulation programmable logic controller automation pulley oil memory. Motion axis lithium ion energy source memory inverse kinematics optimization destroy injection mold identify yourself Fembots saw singularity Solo. Current bolt chain iteration cam acceleration order charging kinematics trigger point.
a(href="javascript:void(0)" onclick= "toggle_visability('popup-box8');")
  #popup-box8.popup-position
    .popup-wrapper
      .popup-container
        .close-window
          a(id= "cross" href="javascript:void(0)" onclick= "toggle_visability('popup-box8');")
            i.fa.fa-times
        img(src="./img/melon.png")
        h3 Description
        h6 Magnet error function cam repair Box power identify yourself joint motion boop engine network dexterity. Feelings recall device hose Otis boop aluminum. KARR lithium ion axle mechanical driver autonomous order no disassemble. Destroy optimization nut autonomous simulation programmable logic controller automation pulley oil memory. Motion axis lithium ion energy source memory inverse kinematics optimization destroy injection mold identify yourself Fembots saw singularity Solo. Current bolt chain iteration cam acceleration order charging kinematics trigger point.
a(href="javascript:void(0)" onclick= "toggle_visability('popup-box9');")
  #popup-box9.popup-position
    .popup-wrapper
      .popup-container
        .close-window
          a(id= "cross" href="javascript:void(0)" onclick= "toggle_visability('popup-box9');")
            i.fa.fa-times
        img(src="./img/melon2.png")
        h3 Description
        h6 Magnet error function cam repair Box power identify yourself joint motion boop engine network dexterity. Feelings recall device hose Otis boop aluminum. KARR lithium ion axle mechanical driver autonomous order no disassemble. Destroy optimization nut autonomous simulation programmable logic controller automation pulley oil memory. Motion axis lithium ion energy source memory inverse kinematics optimization destroy injection mold identify yourself Fembots saw singularity Solo. Current bolt chain iteration cam acceleration order charging kinematics trigger point.
a(href="javascript:void(0)" onclick= "toggle_visability('popup-box10');")
  #popup-box10.popup-position
    .popup-wrapper
      .popup-container
        .close-window
          a(id= "cross" href="javascript:void(0)" onclick= "toggle_visability('popup-box10');")
            i.fa.fa-times
        img(src="./img/nato-large.png")
        h3 Description
        h6 Magnet error function cam repair Box power identify yourself joint motion boop engine network dexterity. Feelings recall device hose Otis boop aluminum. KARR lithium ion axle mechanical driver autonomous order no disassemble. Destroy optimization nut autonomous simulation programmable logic controller automation pulley oil memory. Motion axis lithium ion energy source memory inverse kinematics optimization destroy injection mold identify yourself Fembots saw singularity Solo. Current bolt chain iteration cam acceleration order charging kinematics trigger point.
a(href="javascript:void(0)" onclick= "toggle_visability('popup-box11');")
  #popup-box11.popup-position
    .popup-wrapper
      .popup-container
        .close-window
          a(id= "cross" href="javascript:void(0)" onclick= "toggle_visability('popup-box11');")
            i.fa.fa-times
        img(src="./img/razor-large.png")
        h3 Description
        h6 Magnet error function cam repair Box power identify yourself joint motion boop engine network dexterity. Feelings recall device hose Otis boop aluminum. KARR lithium ion axle mechanical driver autonomous order no disassemble. Destroy optimization nut autonomous simulation programmable logic controller automation pulley oil memory. Motion axis lithium ion energy source memory inverse kinematics optimization destroy injection mold identify yourself Fembots saw singularity Solo. Current bolt chain iteration cam acceleration order charging kinematics trigger point.
a(href="javascript:void(0)" onclick= "toggle_visability('popup-box12');")
  #popup-box12.popup-position
    .popup-wrapper
      .popup-container
        .close-window
          a(id= "cross" href="javascript:void(0)" onclick= "toggle_visability('popup-box12');")
            i.fa.fa-times
        img(src="./img/watermelon-large.png")
        h3 Description
        h6 Magnet error function cam repair Box power identify yourself joint motion boop engine network dexterity. Feelings recall device hose Otis boop aluminum. KARR lithium ion axle mechanical driver autonomous order no disassemble. Destroy optimization nut autonomous simulation programmable logic controller automation pulley oil memory. Motion axis lithium ion energy source memory inverse kinematics optimization destroy injection mold identify yourself Fembots saw singularity Solo. Current bolt chain iteration cam acceleration order charging kinematics trigger point.

