#animations 
  .animation-holder
    a(href="javascript:void(0)" onclick="toggle_visability('popup-box1');")
      img.animation(height= "250" width= "360" src="./img/crowd.png" )
  .animation-holder
    a(href="javascript:void(0)" onclick="toggle_visability('popup-box2');")
      img.animation(height= "250" width = "360" src="./img/halloween.png")
  .animation-holder
    a(href="javascript:void(0)" onclick="toggle_visability('popup-box3');")
      img.animation(height= "250" width = "360" src="./img/hunter.png")
  .animation-holder
    a(href="javascript:void(0)" onclick="toggle_visability('popup-box4');")
      img.animation(height= "250" width = "360" src="./img/itsNotYou.png")
  .animation-holder
    a(href="javascript:void(0)" onclick="toggle_visability('popup-box5');")
      img.animation(height= "250" width = "360" src="./img/laPutita.png")
  .animation-holder
    a(href="javascript:void(0)" onclick="toggle_visability('popup-box6');")
      img.animation(height= "250" width = "360" src="./img/laPetiteMaison1.png")
  .animation-holder
    a(href="javascript:void(0)" onclick="toggle_visability('popup-box7');")
      img.animation(height= "250" width = "360" src="./img/laPetiteMaison2.png")
  .animation-holder
    a(href="javascript:void(0)" onclick="toggle_visability('popup-box8');")
      img.animation(height= "250" width = "360" src="./img/melon.png")
  .animation-holder
    a(href="javascript:void(0)" onclick="toggle_visability('popup-box9');")
      img.animation(height= "250" width = "360" src="./img/melon2.png")
  .animation-holder
    a(href="javascript:void(0)" onclick="toggle_visability('popup-box10');")
      img.animation(height= "250" width = "360" src="./img/nato.png")
  .animation-holder
    a(href="javascript:void(0)" onclick="toggle_visability('popup-box11');")
      img.animation(height= "250" width = "360" src="./img/razor.png")
  .animation-holder
    a(href="javascript:void(0)" onclick="toggle_visability('popup-box12');")
      img.animation(height= "250" width = "360" src="./img/watermelon.png")
a(href="javascript:void(0)" onclick= "toggle_visability('popup-box1');")
  #popup-box1.popup-position
    .popup-wrapper
      .popup-container
        .close-window
          a(id= "cross" href="javascript:void(0)" onclick= "toggle_visability('popup-box1');")
            i.fa.fa-times
        img(src="./img/crowd.png")
        h3 Description
        h6 Magnet error function cam repair Box power identify yourself joint motion boop engine network dexterity. Feelings recall device hose Otis boop aluminum. KARR lithium ion axle mechanical driver autonomous order no disassemble. Destroy optimization nut autonomous simulation programmable logic controller automation pulley oil memory. Motion axis lithium ion energy source memory inverse kinematics optimization destroy injection mold identify yourself Fembots saw singularity Solo. Current bolt chain iteration cam acceleration order charging kinematics trigger point.
a(href="javascript:void(0)" onclick= "toggle_visability('popup-box2');")
  #popup-box2.popup-position
    .popup-wrapper
      .popup-container
        .close-window
          a(id= "cross" href="javascript:void(0)" onclick= "toggle_visability('popup-box2');")
            i.fa.fa-times
        img(src="./img/halloween.png")
        h3 Description
        h6 Magnet error function cam repair Box power identify yourself joint motion boop engine network dexterity. Feelings recall device hose Otis boop aluminum. KARR lithium ion axle mechanical driver autonomous order no disassemble. Destroy optimization nut autonomous simulation programmable logic controller automation pulley oil memory. Motion axis lithium ion energy source memory inverse kinematics optimization destroy injection mold identify yourself Fembots saw singularity Solo. Current bolt chain iteration cam acceleration order charging kinematics trigger point.
a(href="javascript:void(0)" onclick= "toggle_visability('popup-box3');")
  #popup-box3.popup-position
    .popup-wrapper
      .popup-container
        .close-window
          a(id= "cross" href="javascript:void(0)" onclick= "toggle_visability('popup-box3');")
            i.fa.fa-times
        img(src="./img/hunter.png")
        h3 Description
        h6 Magnet error function cam repair Box power identify yourself joint motion boop engine network dexterity. Feelings recall device hose Otis boop aluminum. KARR lithium ion axle mechanical driver autonomous order no disassemble. Destroy optimization nut autonomous simulation programmable logic controller automation pulley oil memory. Motion axis lithium ion energy source memory inverse kinematics optimization destroy injection mold identify yourself Fembots saw singularity Solo. Current bolt chain iteration cam acceleration order charging kinematics trigger point.
a(href="javascript:void(0)" onclick= "toggle_visability('popup-box4');")
  #popup-box4.popup-position
    .popup-wrapper
      .popup-container
        .close-window
          a(id= "cross" href="javascript:void(0)" onclick= "toggle_visability('popup-box4');")
            i.fa.fa-times
        img(src="./img/itsNotYou.png")
        h3 Description
        h6 Magnet error function cam repair Box power identify yourself joint motion boop engine network dexterity. Feelings recall device hose Otis boop aluminum. KARR lithium ion axle mechanical driver autonomous order no disassemble. Destroy optimization nut autonomous simulation programmable logic controller automation pulley oil memory. Motion axis lithium ion energy source memory inverse kinematics optimization destroy injection mold identify yourself Fembots saw singularity Solo. Current bolt chain iteration cam acceleration order charging kinematics trigger point.
a(href="javascript:void(0)" onclick= "toggle_visability('popup-box5');")
  #popup-box5.popup-position
    .popup-wrapper
      .popup-container
        .close-window
          a(id= "cross" href="javascript:void(0)" onclick= "toggle_visability('popup-box5');")
            i.fa.fa-times
        img(src="./img/laPetiteMaison1.png")
        h3 Description
        h6 Magnet error function cam repair Box power identify yourself joint motion boop engine network dexterity. Feelings recall device hose Otis boop aluminum. KARR lithium ion axle mechanical driver autonomous order no disassemble. Destroy optimization nut autonomous simulation programmable logic controller automation pulley oil memory. Motion axis lithium ion energy source memory inverse kinematics optimization destroy injection mold identify yourself Fembots saw singularity Solo. Current bolt chain iteration cam acceleration order charging kinematics trigger point.
a(href="javascript:void(0)" onclick= "toggle_visability('popup-box6');")
  #popup-box6.popup-position
    .popup-wrapper
      .popup-container
        .close-window
          a(id= "cross" href="javascript:void(0)" onclick= "toggle_visability('popup-box6');")
            i.fa.fa-times
        img(src="./img/laPetiteMaison2.png")
        h3 Description
        h6 Magnet error function cam repair Box power identify yourself joint motion boop engine network dexterity. Feelings recall device hose Otis boop aluminum. KARR lithium ion axle mechanical driver autonomous order no disassemble. Destroy optimization nut autonomous simulation programmable logic controller automation pulley oil memory. Motion axis lithium ion energy source memory inverse kinematics optimization destroy injection mold identify yourself Fembots saw singularity Solo. Current bolt chain iteration cam acceleration order charging kinematics trigger point.
a(href="javascript:void(0)" onclick= "toggle_visability('popup-box7');")
  #popup-box7.popup-position
    .popup-wrapper
      .popup-container
        .close-window
          a(id= "cross" href="javascript:void(0)" onclick= "toggle_visability('popup-box7');")
            i.fa.fa-times
        img(src="./img/laPutita.png")
        h3 Description
        h6 Magnet error function cam repair Box power identify yourself joint motion boop engine network dexterity. Feelings recall device hose Otis boop aluminum. KARR lithium ion axle mechanical driver autonomous order no disassemble. Destroy optimization nut autonomous simulation programmable logic controller automation pulley oil memory. Motion axis lithium ion energy source memory inverse kinematics optimization destroy injection mold identify yourself Fembots saw singularity Solo. Current bolt chain iteration cam acceleration order charging kinematics trigger point.
a(href="javascript:void(0)" onclick= "toggle_visability('popup-box8');")
  #popup-box8.popup-position
    .popup-wrapper
      .popup-container
        .close-window
          a(id= "cross" href="javascript:void(0)" onclick= "toggle_visability('popup-box8');")
            i.fa.fa-times
        img(src="./img/melon.png")
        h3 Description
        h6 Magnet error function cam repair Box power identify yourself joint motion boop engine network dexterity. Feelings recall device hose Otis boop aluminum. KARR lithium ion axle mechanical driver autonomous order no disassemble. Destroy optimization nut autonomous simulation programmable logic controller automation pulley oil memory. Motion axis lithium ion energy source memory inverse kinematics optimization destroy injection mold identify yourself Fembots saw singularity Solo. Current bolt chain iteration cam acceleration order charging kinematics trigger point.
a(href="javascript:void(0)" onclick= "toggle_visability('popup-box9');")
  #popup-box9.popup-position
    .popup-wrapper
      .popup-container
        .close-window
          a(id= "cross" href="javascript:void(0)" onclick= "toggle_visability('popup-box9');")
            i.fa.fa-times
        img(src="./img/melon2.png")
        h3 Description
        h6 Magnet error function cam repair Box power identify yourself joint motion boop engine network dexterity. Feelings recall device hose Otis boop aluminum. KARR lithium ion axle mechanical driver autonomous order no disassemble. Destroy optimization nut autonomous simulation programmable logic controller automation pulley oil memory. Motion axis lithium ion energy source memory inverse kinematics optimization destroy injection mold identify yourself Fembots saw singularity Solo. Current bolt chain iteration cam acceleration order charging kinematics trigger point.
a(href="javascript:void(0)" onclick= "toggle_visability('popup-box10');")
  #popup-boxox10.popup-position
    .popup-wrapper
      .popup-container
        .close-window
          a(id= "cross" href="javascript:void(0)" onclick= "toggle_visability('popup-box10');")
            i.fa.fa-times
        img(src="./img/nato.png")
        h3 Description
        h6 Magnet error function cam repair Box power identify yourself joint motion boop engine network dexterity. Feelings recall device hose Otis boop aluminum. KARR lithium ion axle mechanical driver autonomous order no disassemble. Destroy optimization nut autonomous simulation programmable logic controller automation pulley oil memory. Motion axis lithium ion energy source memory inverse kinematics optimization destroy injection mold identify yourself Fembots saw singularity Solo. Current bolt chain iteration cam acceleration order charging kinematics trigger point.
a(href="javascript:void(0)" onclick= "toggle_visability('popup-box11');")
  #popup-box11.popup-position
    .popup-wrapper
      .popup-container
        .close-window
          a(id= "cross" href="javascript:void(0)" onclick= "toggle_visability('popup-box11');")
            i.fa.fa-times
        img(src="./img/razor.png")
        h3 Description
        h6 Magnet error function cam repair Box power identify yourself joint motion boop engine network dexterity. Feelings recall device hose Otis boop aluminum. KARR lithium ion axle mechanical driver autonomous order no disassemble. Destroy optimization nut autonomous simulation programmable logic controller automation pulley oil memory. Motion axis lithium ion energy source memory inverse kinematics optimization destroy injection mold identify yourself Fembots saw singularity Solo. Current bolt chain iteration cam acceleration order charging kinematics trigger point.
a(href="javascript:void(0)" onclick= "toggle_visability('popup-box12');")
  #popup-box12.popup-position
    .popup-wrapper
      .popup-container
        .close-window
          a(id= "cross" href="javascript:void(0)" onclick= "toggle_visability('popup-box12');")
            i.fa.fa-times
        img(src="./img/watermelon.png")
        h3 Description
        h6 Magnet error function cam repair Box power identify yourself joint motion boop engine network dexterity. Feelings recall device hose Otis boop aluminum. KARR lithium ion axle mechanical driver autonomous order no disassemble. Destroy optimization nut autonomous simulation programmable logic controller automation pulley oil memory. Motion axis lithium ion energy source memory inverse kinematics optimization destroy injection mold identify yourself Fembots saw singularity Solo. Current bolt chain iteration cam acceleration order charging kinematics trigger point.
#content

